@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Pacifico&display=swap');


/* --------------------------------------------- COLOR VARIABLES */


:root {
  --background-primary: #112432;
  --background-secondary-darker: #0e202c;
  --background-secondary-lighter: #183346;
  --text-primary: #fdfbfb;
  --text-secondary: #859baa;
  --highlight-primary: #f2c145;
  --highlight-primary-brighter: #ffae00;
  --highlight-primary-dimmer: #805d07;
  --highlight-secondary: #e14787;
  --border: #214057;

  --font-text: "Open Sans", Tahoma, sans-serif;
  --font-highlight: "Pacifico", "brush script mt", cursive;
  --font-headings: "League Gothic", Verdana, sans-serif;
}


/* --------------------------------------------- GLOBAL */


* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30vh;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);

  font-family: var(--font-text);
  font-weight: 400;
  font-size: 1rem;
}

.body-container {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: .7em;
}

body::-webkit-scrollbar-button {
  background-color: var(--background-primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
}

body::-webkit-scrollbar-track {
 background-color: transparent;
}

/* Typography */

a {
  text-decoration: none;
  color: var(--text-primary);
}

a:focus-visible:not(.btn) {
  outline: none;
  border-bottom: 3px solid var(--text-primary);
}

h1 {
  font-family: var(--font-headings);
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.sas-highlight {
  font-family: var(--font-highlight);
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--highlight-secondary);
  text-shadow: var(--background-secondary-darker) 2px 2px 20px;
}

.italic {
  font-weight: 300;
  font-style: italic;
}

::selection {
  background-color: var(--highlight-primary);
  color: var(--background-primary);
}

/* Buttons */

.btn {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.btn a,
.btn-send {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  
  background-color: var(--highlight-primary);
  color: var(--background-primary);
}

.btn a::selection {
  color: var(--text-primary);
}

.btn a:hover,
.btn-send:hover {
  background-color: var(--highlight-primary-brighter);
  transition: 0.2s;
}

.btn a:active,
.btn-send:active {
  background-color: var(--highlight-primary-dimmer);
  transition: 0.3s;
}

.btn a:focus-visible,
.btn-send:focus-visible {
  outline: none;
  box-sizing: border-box;
  border-bottom: 3px solid var(--text-primary);
  border-left: 2px solid var(--text-primary);
  border-right: 2px solid var(--text-primary);
}


/* --------------------------------------------- HEADER & NAVBAR */


.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 10000;

  background-color: var(--background-secondary-darker);
  border-bottom: 1px solid var(--border);

  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 80px;
  padding: 0 100px;
}

.navbar .logo {
  height: 60px;
}

.navbar .nav-menu {
  display: flex;
}

.navbar .nav-menu li {
  padding-left: 50px;
}


/* --------------------------------------------- FOOTER */


.footer-container {
  margin-top: 10vh;
  padding: 2vh 0;
  width: 100%;
  background-color: var(--background-secondary-darker);

  text-align: center;
  border-top: 1px solid var(--border);
}

.footer-social {
  font-size: 2rem;
}

.footer-social i {
  padding: 0 4vw;
}

.footer-copyright {
  margin-top: 2vh;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}


/* INDEX --------------------------------------- HERO TEXT SECTION */


.hero-text-container {
  padding-top: 10vh;
}

.hero-text-container h2,
.hero-text-container p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.hero-text-container h2 {
  margin-top: 2vh;
}

.hero-text-container p {
  margin-top: 1vh;
}

.hero-text-container .text-highlight {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--highlight-primary);
}

.hero-text-container .btn {
  margin-top: 7vh;
  font-size: 1.5rem;
}

.hero-text-container .aroma-link {
  margin-top: 7vh;
  text-align: center;
}

.hero-text-container .aroma-link a {
  color: var(--text-secondary);
}

.hero-text-container .aroma-link a:hover {
  color: var(--text-primary);
  transition: .3s;
}

.hero-text-container .aroma-link i {
  padding-bottom: 2vh;
  font-size: 1.5rem;
}


/* INDEX --------------------------------------- AROMA LIST SECTION */


.aroma-list-container {
  padding-top: 15vh;
  width: 100%;
  height: 48vh;

  display: flex;
  justify-content: space-between;
}

.aroma-list-container .aroma-item {
  position: relative;
  width: 33.3%;

  opacity: .3;
  transition: .6s ease-in-out;
}

.aroma-list-container .aroma-item:hover,
.aroma-list-container .aroma-item:active {
  opacity: .9;
}

.aroma-item .aroma-transition {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: .5s all;
}

.aroma-item .aroma-transition:hover,
.aroma-item .aroma-transition:active {
  height: 120%;
}

.aroma-item .gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.aroma-item .gradient-floral {
  background-image: linear-gradient(to top, rgba(43, 61, 49, 1), rgba(63, 63, 42, 0));
}

.aroma-item .gradient-citrus {
  background-image: linear-gradient(to top, rgba(173, 146, 107, 1), rgba(173, 146, 107, 0));
}

.aroma-item .gradient-woody {
  background-image: linear-gradient(to top, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
}

.aroma-list-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aroma-list-container .aroma-title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  font-family: var(--font-headings);
  font-size: 3rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}


/* INDEX --------------------------------------- ORDER RECIPE SECTION */


.order-recipe-container {
  margin: auto auto;
  padding-top: 15vh;
  width: 90%;
  max-width: 1000px;

  text-align: center;
}

.order-recipe-container h3 {
  font-size: 2rem;
  font-weight: 400;
}

.order-recipe-container > p {
  margin-top: 3vh;
  font-size: 1.3rem;
  text-decoration: underline;
}

.order-recipe {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.order-recipe .recipe-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-item i:not(.fa-arrow-down) {
  padding: 30px;
  font-size: 4rem;
  color: var(--highlight-primary);
  text-shadow: -2px 2px 2px var(--text-primary);
  border-bottom: 2px double var(--border);
  border-left: 2px double var(--border);
  border-radius: 10px;
}

.recipe-item h4 {
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.recipe-item p {
  line-height: 1.5;
  font-weight: 300;
}

.recipe-item .sas-highlight {
  font-size: 1.5rem;
}

.recipe-item .recipe-tag-container {
  margin-top: 2vh;
}

.recipe-tag-container .recipe-tag {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  
  background-color: var(--background-secondary-lighter);
  border: 2px solid var(--border);
  border-radius: 5px;

  font-size: 1rem;
  line-height: 1;
}

.recipe-item .recipe-item-arrow {
  margin-top: 2vh;

  flex-grow: 1;
  align-self:center;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  color: var(--text-secondary);
}

.recipe-item .btn {
  margin: 4vh 0 2vh 0;
  font-size: 1.1rem;
}


/* INDEX --------------------------------------- EXPECTATION SECTION */


.expectation-container {
  padding-top: 15vh;
  margin: auto auto;
  width: 80%;
  max-width: 1300px;

  text-align: center;
}

.expectation-container h3 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.expectation-wrapper {
  margin-top: 5vh;
  padding: 5%;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-size: 1.3rem;
  font-weight: 300;

  background-color: var(--background-secondary-lighter);
  border: 2px solid var(--border);
  border-radius: 10px;
  box-shadow: 2px 2px 20px black;
}

.expectation-wrapper div {
  padding: 20px 10px 30px 30px;
  border-left: var(--highlight-primary) solid 2px;
  border-bottom: var(--highlight-primary) solid 2px;
  border-radius: 20px;
  text-align: start; 
}

.expectation-wrapper .expectation-item {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.expectation-wrapper .expectation-item-highlight {
  font-weight: 700;
  line-height: 3rem;
}

.expectation-container .italic li {
  color: var(--text-secondary);
  padding-left: 20px;
}

.expectation-container .btn a {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 0;
  width: 100%;

  font-size: 1.5rem;
  border-radius: 3px;
}


/* SCENTS -------------------------------------- TOP PICKS SECTION  */


.top-picks-container {
  margin-top: 10vh;
  width: 100%;
}

.top-picks-container h1 .text-highlight{
  color: var(--highlight-primary);
}

.top-picks-container .top-picks-wrapper {
  width: 70%;
  margin: auto auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: 20vh;
  gap: 20px;

}

.top-floral,
.top-citrus,
.top-woody {
  position: relative;
}

.top-picks-container .top-picks-wrapper > div {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

/* GRID ITEMS */

.floral-one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.floral-two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.floral-three {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.floral-four {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.floral-five {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.floral-six {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.citrus-one {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.citrus-two {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}

.citrus-three {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.citrus-four {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.citrus-five {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.citrus-six {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.woody-one {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.woody-two {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}

.woody-three {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.woody-four {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.woody-five {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
}

.woody-six {
  grid-column: 5 / 7;
  grid-row: 4 / 6;
}

/* GRID ITEMS FINISH */

.something-more-container {
  margin-top: 10vh;
}

.top-picks-container .grid-img {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}



.top-picks-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GALLERY ------------------------------------- IMAGES SECTION */


.gallery-heading {
  padding: 10vh 5vw 0;
}

.gallery-heading .text-highlight {
  color: var(--highlight-primary);
}

.images-container {
  margin: auto auto;
  padding-top: 10vh;
  width: 75vw;
  max-width: 1300px;

  display: grid;
  grid-auto-rows: 35vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 2vw;
}

.images-container .grid-double-row {
  grid-row: span 2;
}

.images-container .grid-item-egg {
  grid-row: 3 / 4;
}

.images-container div {
  width: 100%;

  border-top: 1px solid var(--text-primary);
  border-right: 1px solid var(--text-primary);
  border-bottom: 5px solid var(--text-primary);
  border-left: 5px solid var(--text-primary);
  border-radius: 2px;
  
  box-shadow: 0 0 130px var(--text-primary);
}

.images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* GALLERY ------------------------------------- NOT SURE SECTION */


.not-sure-container {
  margin-top: 10vh;
  text-align: center;
}

.not-sure-container h2 {
  
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.not-sure-container h3 {
  margin-top: 3vh;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.not-sure-container h3 i {
  padding-top: 5vh;
}

.not-sure-container p {
  font-weight: 300;
  font-style: italic;
  color: var(--text-secondary);
}


/* CONTACT US ---------------------------------- ENTIRE PAGE*/


.contact-container {
  margin: 10vh 5vw 0;
}

.contact-container .text-highlight {
  color: var(--highlight-primary);
}

.contact-container > p {
  padding-top: 2vh;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

.contact-form {
  margin: auto auto;
  padding-top: 10vh;
  width: 40vw;
  min-width: 600px;
  max-width: 800px;

  display: flex;
  flex-direction: column;
}

.contact-form .form-info {
  margin: auto auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.contact-form .form-info .info-label {
  padding-top: 10px;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 300;
}

.contact-form .form-info .info-field,
.contact-form .content-field {
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 10px 5px;

  color: var(--border);

  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--highlight-secondary), var(--background-primary) 90%) 1;
}

.contact-form  .form-info .info-field:focus-visible,
.contact-form .content-field:focus-visible {
  outline: none;

  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--highlight-primary), var(--background-primary) 90%) 1;
}

.form-info .reason-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-info .reason-container .reason-btn {
  width: 48%;
  padding: 10px 10px;

  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--border);
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
  
  cursor: pointer;
  transition: all .3s;
}

.form-info .reason-container .reason-btn:hover {
  background-color: var(--highlight-secondary);
}

.form-info .reason-container .reason-btn:active {
  background-color: var(--background-secondary-darker);
}

.form-info .reason-container .reason-radio {
  display: none;
}

.reason-radio:checked + .reason-btn {
  font-size: 1.2rem;
  line-height: 2rem;
  background-color: var(--highlight-secondary);
}

.contact-form .content-field {
  margin-top: 5vh;
  height: 20vh;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  resize: none;
}

.contact-form .content-field::placeholder {
  color: var(--text-secondary);
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.btn-send {
  margin-top: 1vh;
  width: 100%;

  font-size: 1.5rem;
  letter-spacing: 3px;
  border-right: 5px solid var(--background-primary);
  border-radius: 2px;
}


/* --------------------------------------------- MEDIA QUERY */


/* Touch Devices */

@media (hover: none) {
  /* INDEX - Hero Text Section*/
  .hero-text-container .aroma-link a {
    color: var(--text-primary);
  }

  /* INDEX - Aroma List Section */
  .aroma-list-container .aroma-item {
    opacity: 0.9;
  }

  /* CONTACT US */
  .form-info .reason-container .reason-btn:active {
    background-color: var(--highlight-secondary);
  }
  
}


/* Tablet View */

@media screen and (max-width: 780px) {
  /* GLOBAL */
  h1 {
    font-size: 3rem;
  }

  .sas-highlight {
    font-size: 1.5rem;
  }

  /* INDEX - Hero Text Section*/
  .hero-text-container {
    padding: 10vh 20px 0;
  }

  .hero-text-container h2 {
    margin-top: 5vh;
    padding-bottom: 2vh;
  }

  .hero-text-container h2, 
  .hero-text-container p {
    font-size: 1.3rem;
  }

  .text-highlight {
    display: block;
  }

  .aroma-link {
    display: none;
  }

  /* INDEX - Aroma List Section */
  .aroma-list-container {
    padding-top: 10vh;
  }

  .aroma-list-container .aroma-item {
    opacity: 0.9;
  }

  .aroma-item .aroma-transition:hover,
  .aroma-item .aroma-transition:active {
    height: 100%;
  }

  /* INDEX - Order Recipe Section */
  .order-recipe-container {
    padding-top: 10vh;
    width: 95%;
    max-width: 600px;
    margin: auto auto;
  }

  .order-recipe-container h3 {
    font-size: 1.6rem;
  }

  .order-recipe-container > p {
    margin-top: 1vh;
    font-size: 1.2rem;
  }

  .order-recipe {
    margin-top: 8vh;
    grid-template-columns: 100%;
    gap: 5vh;
    text-align: start;
  }
 
  .order-recipe .recipe-item {
    display: grid;
    grid-template-columns: 40% 55%;
    grid-template-rows:min-content;
    gap: 0 5vw;
  }

  .recipe-item .recipe-icon {
    margin: auto auto;
    grid-row: 1 / 4;
  }


  .recipe-item i:not(.fa-arrow-down) {
    border-left: none;
    border-top: 2px double var(--border);
    border-radius: 20px;
  }

  .recipe-item h4 {
    margin-top: 0;
    font-size: 1.3rem;
  }

  .recipe-item p,
  .recipe-item .recipe-tag-container {
    width: 80%;
  }

  .recipe-item .recipe-item-arrow {
    display: none;
  }

  .recipe-item .btn {
    margin: 3vh 0 1vh 0;
    height: fit-content;
    text-align: start;
  }

  /* INDEX - Expectation Section */
  .expectation-container { 
    padding-top: 10vh;
    width: 90%;
  }

  .expectation-container h3 {
    font-size: 2rem;
  }

  .expectation-wrapper {
    padding: 5vh 5vw;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1rem;
  }

  .expectation-wrapper div {
    padding: 20px 10px 20px 20px;
  }

  .expectation-wrapper .expectation-item {
    grid-row: 1 / 3;
  }

  .expectation-wrapper .expectation-item-highlight {
    line-height: 2rem;
  }

  .expectation-container .btn a {
    margin-top: 2vh;
    font-size: 1.3rem;
  }

  /* GALLERY - Images Section */
  .images-container {
    width: 95%;
    grid-auto-rows: 25vh;
    gap: 5px;
  }

  /* GALLERY - Not Sure Section */
  .not-sure-container h3 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.3;
  }

  .not-sure-container h3 i {
    padding-bottom: 1vh;
    font-size: 1.1rem;
  }

  .not-sure-container p {
    font-size: .9rem;
  }

  /* CONTACT US */
  .contact-container {
    margin: 10vh 5vw 0;
  }

  .contact-container > p {
    font-size: 1.3rem;
  }

  .contact-container .contact-form {
    padding-top: 8vh;
    width: 100%;
    min-width: fit-content;
    max-width: 100%;
  }

  .contact-form .form-info {
    width: 80%;
  }

  .contact-form .form-info .info-label,
  .contact-form .form-info .info-field,
  .contact-form .content-field {
    font-size: 1.2rem;
  }

  .form-info .reason-container .reason-btn {
    width: 49%;
    padding: 10px 5px;
    line-height: 1.5rem;
    letter-spacing: 1px; 
  }

  .reason-radio:checked + .reason-btn {
    font-size: 1.1rem;
    line-height: 1.5rem;  
  }

  .btn-send {
    margin-top: 2vh;
    font-size: 1.3rem;
  }
}


/* Mobile View */

@media screen and (max-width: 480px) {
  /* GLOBAL */
  h1 {
    font-size: 2rem;
  }

  /* INDEX - Hero Text Section*/
  .hero-text-container {
    padding: 8vh 10px 0;
  }

  .hero-text-container h2, 
  .hero-text-container p,
  .hero-text-container .btn {
    font-size: 1.2rem;
  }

  .hero-text-container .text-highlight {
    font-size: 1.3rem;
  }

  /* INDEX - Aroma List Section */
  .aroma-list-container {
    height: 60vh;
    width: 100%;
    flex-direction: column;
  }

  .aroma-list-container .aroma-item {
    height: 33.3%;
    width: 100%;
    border: 1px solid var(--text-primary);
  }

  .aroma-list-container .aroma-item:nth-of-type(2) {
    border-top: 4px solid var(--text-primary);
    border-bottom: 4px solid var(--text-primary);
  }

  .aroma-list-container .aroma-title {
    font-size: 2rem;
  }

  /* INDEX - Order Recipe Section */
  .order-recipe-container {
    width: 85%;
  }

  .order-recipe .recipe-item {
    grid-template-columns: 100%;
    text-align: center;
  }

  .recipe-item h4 {
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .recipe-item p,
  .recipe-item .recipe-tag-container {
    width: 100%;
  }

  .recipe-item .btn {
    margin-top: 4vh;
    font-size: 1rem;
    text-align: center;
  }

  .recipe-item .btn:last-of-type {
    margin-bottom: 2vh;
  }

  /* INDEX - Expectation Section */
  .expectation-container { 
    width: 100%;
  }

  .expectation-container h3 {
    padding: 0 10vw;
    font-size: 1.5rem;
  }

  .expectation-wrapper {
    padding: 5vh 1vw;
    grid-template-columns: 1fr;
    border-left: none;
    border-right: none;
  }

  .expectation-wrapper div {
    margin: auto auto;
    padding: 10px 10px;
    width: 80%;
    text-align: center; 
    border-left: none;
  }

  .expectation-wrapper .expectation-hide {
    display: none;
  }

  .expectation-wrapper .expectation-item {
    grid-row: 1 / 2;
  }

  .expectation-container .btn a {
    width: 90%;
    font-size: 1rem;
  }

  /* GALLERY - Images Section */
  .images-container {
    grid-auto-rows: 30vh;
    grid-template-columns: repeat(1, 1fr);
    gap: 2vh;
  }

  .images-container .grid-item-egg {
    grid-row: 7 / 8;
  }

  /* GALLERY - Not Sure Section */
  .not-sure-container h3 {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  /* CONTACT US */
  .contact-container {
    margin: 8vh 10px 0;
  }

  .contact-container > p {
    padding-top: 5vh;
    font-size: 1.2rem;
  }

  .contact-container .contact-form {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
  }
  
  .contact-form .form-info {
    width: 100%;
  }

  .form-info .reason-container .reason-btn {
    width: 50%;
    padding: 10px 0;
    line-height: 1.5rem;
    letter-spacing: 0;
    border-radius: 0;
  }

  .reason-radio:checked + .reason-btn {
    font-size: 1rem;
  }

  .btn-send {
    font-size: 1.2rem;
  }

  .contact-form .content-field::placeholder {
    font-size: 1rem;
  }
}


/* Extra small devices */

@media screen and (max-width: 250px) {

  /* CONTACT US */
  .form-info .reason-container {
    display: flex;
    flex-direction: column;

  }

  .form-info .reason-container .reason-btn {
    width: 100%;
  }
}