@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Pacifico&display=swap');


/* --------------------------------------------- COLOR VARIABLES */


:root {
  --background-primary: #112432;
  --text-primary: #fdfbfb;

  --font-text: "Open Sans", Tahoma, sans-serif;
  --font-highlight: "Pacifico", "brush script mt", cursive;
  --font-headings: "League Gothic", Verdana, sans-serif;
}


/* --------------------------------------------- GLOBAL */


* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);

  font-family: var(--font-text);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}


/* --------------------------------------------- HEADER & NAVBAR */


a {
  color: #fdfdfd;
}

img {
  max-width: 300px;
}