@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Pacifico&display=swap');


/* --------------------------------------------- COLOR VARIABLES */


:root {
  --background-primary: #112432;
  --text-primary: #fdfbfb;
  --highlight-primary: #f2c145;
  --highlight-secondary: #e14787;

  --font-text: "Open Sans", Tahoma, sans-serif;
  --font-highlight: "Pacifico", "brush script mt", cursive;
  --font-headings: "League Gothic", Verdana, sans-serif;
}


/* --------------------------------------------- GLOBAL */


* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--background-primary);
  color: var(--text-primary);

  font-family: var(--font-text);
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-family: var(--font-headings);
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}


/* --------------------------------------------- HEADER & NAVBAR */


.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 80px;
  padding: 0 100px;
}

.navbar .logo {
  height: 60px;
}

.navbar .nav-menu {
  display: flex;
}

.navbar .nav-menu li {
  padding-left: 50px;
}


/* INDEX --------------------------------------- HERO TEXT SECTION */


.hero-text-container {
  padding: 10vh 0;
}

.hero-text-container h2,
.hero-text-container p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.hero-text-container h1 {
  padding-bottom: 2vh;
}

.hero-text-container h2 {
  padding-bottom: 1vh;
}

.hero-text-container h2 .sas-highlight {
  font-family: var(--font-highlight);
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--highlight-secondary);
  text-shadow: #000 2px 2px 20px;
}

.hero-text-container p {
  padding-bottom: 7vh;
}

.hero-text-container p .text-highlight {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--highlight-primary);
}

.hero-text-container .btn {
  display: block;
  padding-bottom: 7vh;
  text-align: center;

  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-text-container .btn a {
  padding: 10px 20px;
  border-radius: 10px;
  
  background-color: var(--highlight-primary);
  color: var(--background-primary);
}

.hero-text-container .aroma-link {
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

.hero-text-container .aroma-link a {
  color: #6b8292;
}

.hero-text-container .aroma-link i {
  padding-bottom: 2vh;
  font-size: 1.5rem;
}


/* INDEX --------------------------------------- AROMA LIST SECTION */


.aroma-list-container {
  display: flex;
  width: 100vw;
  height: 38vh;
  column-gap: 1px;
  overflow: hidden;
  padding-bottom: 10vh;
}

.aroma-list-container .aroma-item {
  position: relative;
  width: 33%;
}

.aroma-list-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  /*background-color: rgba(17,36,50, 0.7); -- COMMENTED OUT DURING DEVELOPMENT, WILL BECOME ACTIVE*/
}

.aroma-list-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aroma-list-container .aroma-title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  font-family: var(--font-headings);
  font-size: 3rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}


/* INDEX --------------------------------------- ORDER SECTION */





a {
  color: #fdfdfd;
}

